<html class="js">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="shortcut icon" href="data:image/png;base64,<%=webSettings.website_favicon%>">
    <title>
        <%=title %>
    </title>
    <link rel="stylesheet" href="/css/user/vendor.bundle.css">
    <link rel="stylesheet" href="/css/user/style.css">
    <link rel="stylesheet" href="/css/user/auth.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    section.section.section-l.bg-white.section-about {
    height: 100vh !important;
}
</style>
</head>

<body class="nk-body body-wider bg-light-alt no-touch page-loaded chrome">

<div class="nk-wrap">
<main class="nk-pages">
    <section class="section section-l bg-white section-about">
        <div class="container">
            <!-- Block @s -->
            <div class="nk-block">
                <div class="row gutter-vr-30px align-items-center">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6" style="text-align:center;">
                        <h2>Registration <span style="color:#6bbafe;">Completed</span></h2>
                        <p>You are now an official member of <%=webSettings.website_title%>. Login to your account to start
                            investing with us and use all the services that are available for our members!</p><br>
                        <a href="/login" class="btn btn-lg btn-grad">Account Login</a><br>
                        <div class="sap-text"><span>Do Not Provide Your Login Details To Anyone!</span></div>
                    </div>
                </div>
            </div><!-- .nk-block @e -->
        </div>
    </section>
</main>
</div>

</body>
</html>
